.header{
    width: 1200px;
    height: 100px;
    margin: 0 auto;
    background:aqua;
 
 }
 .logo{
     float: left;
     padding: 20px;
 
 }
 .logo img{
     width: 70%;
     height: 70%;
     
 }
 .menu{
     float: right;
     padding-top: 15px;
 
 
 }
 .menu ul{
     list-style: none;
 
 }
 .menu ul li{
     display: inline-block;
 
 }
 .menu ul li a{
     text-decoration: none;
     font-size: 25px;
 
 padding-right: 20px;
 }
 .menu ul li a:hover{
    background: #000;
    padding: 20px;
    color: bisque;
    border-radius: 20px;

 }
 /* Header part End */
 /*Slider part start */
 
 .slider{
     width: 1200px;
     height: 600px;
 
     margin: 0 auto;
     background:  linear-gradient(rgba(0,0,0,.6),rgba(0,0,0,.6)), url(./img/mb.png);
     background-repeat: no-repeat;
     background-size: fit;
     background-position: center;
 
 }
 .slider h1{
     position: absolute;
     top: 45%;
     left: 45%;
     color: antiquewhite;
     text-align: center;
 }
 .slider p{
     position: absolute;
     top: 52%;
     left: 43%;
     color: white;
     text-align: center;
 
 }
 .slider a{
     position: absolute;
     top: 60%;
     left:45%;
     color: aquamarine;
     text-decoration: none;
     border: 1px solid whitesmoke;
     padding: 10px 25px;
     font-size: 25px; 
     background:blue;
     border-radius: 20px;
 }

 

 /* Slider part End */


/* */

.hero
{
    width: 1200px;
    margin: 0 auto;
}
.service-title{
    text-align: center;
    padding-top: 20px;
   

}
.service-box{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(280px,auto));
    gap: 5px;
    
}
span{
    color: tomato;
}
.card{
    text-align: center;
    background: rgb(24, 223, 100);
    padding: 20px;
}
.card img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    color: forestgreen;
    border: 2px solid tomato;

}

.card a{
    border: 2px solid wheat;
    font-size: 25px;
    border-radius: 20px;
    background: white;
    padding: 10px 10px;
    
}
.card a:hover{
  
    color: white;
    background: blue;
}
.animate{
    animation: 7s mov linear infinite;
    position: relative;

}
@keyframes mov{
    /* from{background-color: rgb(23, 78, 100);}

    to{background-color: rgb(7, 231, 220);} */
    /* 0%   {background-color: red;}
  25%  {background-color: yellow;}
  50%  {background-color: blue;}
  100% {background-color: green;} */
  0%   {background-color: red;}
  25%  {background-color: yellow;}
  50%  {background-color: blue;}
  100% {background-color: green;}
}
footer{
    width: 1200px;
    margin: 0 auto;

}
.footer-main{
    padding-top: 20px;
    display: grid;
    grid-template-columns:repeat(auto-fit, minmax(380px,auto));
    gap: 5px;
}
.block{
    text-decoration: none;
    text-align: center;
    background-color: aqua;
    padding: 10px;
    display: grid;
    grid-template-rows: repeat(auto-fit,minmax(20px,auto));
}
.block img{
    height: 25px;
    width: 25px;

}

